params {
   datasets = [ 
      ["thinned",  ""
      ["thinned1", "", 
   ]   
   chromosomes = [18,19,20,21,22]
}

profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = 'docker://quay.io/h3abionet_org/imputation_tools'
  }
  slurm {
    process.executor = 'slurm'
  }
}